<a href="https://colab.research.google.com/github/sdycode/Python-Programming-Basic-Assignment/blob/main/Python_Programming_Basic_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to Find the Factorial of a Number?

In [4]:
def fact(n):
  if(n == 0):
    return 1;
  else:
    return n*fact(n-1)

print(fact(4))
print(fact(6))
print(fact(5))

24
720
120

2. Write a Python Program to Display the multiplication Table?

In [7]:
def showMultiplicationTable(n): 
  for i in range(1,11):
    print(i*n)

for i in range(2,4):
  print(f'Table of {i}')
  showMultiplicationTable(i)

Table of 2
2
4
6
8
10
12
14
16
18
20
Table of 3
3
6
9
12
15
18
21
24
27
30

3. Write a Python Program to Print the Fibonacci sequence?

In [14]:

def fib(a,b,c):
  a,b =  b,a+b
  if(c>0):
    c -= 1
    print(a)
    fib(a,b,c)
  else:
    return
fib(1,1,20)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

4. Write a Python Program to Check Armstrong Number?

In [30]:
def isArmstrong(n):
  sum = 0;
  m = n
  while(int(m/10>0)): 
    sum = sum + (m%10)**3
    m = int(m / 10)
    if(m/10 == 0) :
      sum = sum + (m%10)**3
  print(sum)
  if(sum == n):
    print("True")
    return True
  else:
    print("False")
    return False


isArmstrong(400)
isArmstrong(371)
isArmstrong(153)

64
False
371
True
153
True

5. Write a Python Program to Find Armstrong Number in an Interval?

In [35]:
def getArmstrongInInterval(a,b):
  for i in range(a,b+1):
    if(isArmstrong(i)):
      print("Arms - ",i)

def isArmstrong(n):
  sum = 0;
  m = n
  while(int(m/10>0)): 
    sum = sum + (m%10)**3
    m = int(m / 10)
    if(m/10 == 0) :
      sum = sum + (m%10)**3
 
  if(sum == n):
   
    return True
  else:
    # print("False")
    return False


getArmstrongInInterval(0,100000)

Arms -  0
Arms -  1
Arms -  153
Arms -  370
Arms -  371
Arms -  407

6. Write a Python Program to Find the Sum of Natural Numbers?

In [38]:
def get_Sum_of_Natural_Numbers(n):
  return int(n*(n+1)/2)

get_Sum_of_Natural_Numbers(100)

5050